<p>Hey we have currently <%=count%> users in database</p>
<form method="post" action="/register" >
    <input type="text" class="form" name = "email" textholder="Enter your mail id">    
    <button>Submit</button>
</form>